{%extends "home-template.htm"%}
{%block body%}
    <section class="row mb-2 d-flex justify-content-center" id="book-cnt">
        <article class="card col-lg-6 col-12">
            <div class="card-body">
                <h4 class="card-title">{{book.title}}</h4>
                <h6 class="card-subtitle text-muted mb-2">{{book.author}}</h6>
                <h6 class="card-subtitle text-muted mb-2">{{book.year}}</h6>
                <p class="card-text">ISBN: {{book.isbn}}</p>
            </div>
        </article>
    </section>

    <section class="row mt-2 justify-content-center" id="rate">
        <article class="card col-lg-6 col-12 bg-higlight text-info">
            <div class="card-body">
                <div class="card-title mb-2"><h5>Ratings</h5></div>
                <div class="card-text">
                    {%if avg_rate!=0 %}
                        <p class="mb-2"><strong>Rating by BookNet users: </strong>{{avg_rate}}</p>
                    {%endif%}
                    <p class="mb-2"><strong>Rating by <a href="https://www.goodreads.com" target="_blank">Goodreads</a>: </strong>{{gdr_rate}}</p>
                </div>
            </div>
        </article>
    </section>

    <section class="row mt-4 justify-content-center" id="comment-cnt">
        <article class="col-lg-6 col-12">
            <form action="{{url_for('commented', book_id=book.id)}}" method="post" class="d-flex justify-content-end flex-wrap" id="comment-form">
                <textarea name="commtxt" id="commtxt" placeholder="Review" class="form-control"></textarea>
                <div class="form-row w-100">
                    <div class="col">
                        <label for="starsrate" class="text-muted text-right" style="margin-right:5px;">Stars</label>
                    </div>
                    <div class="col-6 mr-2">
                    <select class="custom-select" id="starsrate" name="starsrate">
                        <option selected value="-1">Vote...</option>
                        <option value="1">&#9733;</option>
                        <option value="2">&#9733;&#9733;</option>
                        <option value="3">&#9733;&#9733;&#9733;</option>
                        <option value="4">&#9733;&#9733;&#9733;&#9733;</option>
                        <option value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
                    </select>
                    </div>
                    <div class="col">
                        <button class="btn btn-sm btn-primary " type="submit">Comment</button>
                    </div>
                </div>               
            </form>
        </article>
    </section>
    <hr class="my-4 col-6">
    
    <section class="row mt-2 justify-content-center" id="comments">
        <h3 class="col-12 text-center">User's reviews</h3>
        <div class="col-lg-6 col-12">
        {%for rev in reviews%}
            <article class="comment">
                <div class="media-body">
                    <p class="name"><i class="icon-user"></i>{{rev.usr}}<span id="rating" class="text-muted">
                        Rating: 
                    {%for i in range(rev.rate)%}
                        &#9733;
                    {%endfor%} 
                    </span></p>
                    <p class="text-review">{{rev.comment}}</p>
                </div>
            </article>
        {%else%}
            <h2 class="text-info col-12 text-center"><i class="icon-thumbs-down mr-2"></i>No comments yet :(</h2>
        {%endfor%}
        </div>
    </section>
    <style>
        #comment-form textarea{
            width: 100%;
            min-height: 75px;
            height: 125px;
            margin-bottom: 20px; 
        }
        .comment{
            margin-top: 10px;
            border-top: 1px solid #bfbfbf;
        }
        .comment .media-body{
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .comment .media-body .name{
            font-size:20px;
            font-weight: 700;
        }
        .comment .media-body .name #rating{
            font-size:14px;
            font-weight: 400;
            margin-left: 25px;
            padding-left: 15px;
        }
    </style>
    <!--this javascript is only to verificate if the form is empty-->
    <script>
        document.addEventListener("DOMContentLoaded", ()=>{
            document.querySelector("#comment-form").onsubmit = () =>{
                var commtxt=document.querySelector("#commtxt").value;
                var starsrate=document.querySelector("#starsrate").value;
                if(commtxt === "" || starsrate <= -1){
                    alert("Please fill all fields");
                    return false;
                }
                return true;
            }
        });
    </script>
{%endblock%}